{% extends 'shared/_layout.html' %}
{% load render_partial %}

{% block title %}
Contact Us
{% endblock %}

{% block content %}
					<div id="contact-page" class="container">
        <div>
            <div class="row">
                <div>
                    <div>
                        <h2 class="title text-center">Location</h2>
                        <div class="status alert alert-success" style="display: none"></div>
                        <form id="main-contact-form" class="contact-form row" action="{% url 'smart_select' %}"
                              method="post">
                            {% csrf_token %}
                            {{ form.media.js }}
                            {{ form.as_p }}
                            <hr>
                            <div class="form-group col-md-12">
                                <button type="submit" class="btn btn-primary pull-right">ارسال</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="contact-info">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}