
<!--    <div class="col-md-6 form-group;">-->
<!--            <div style="text-align: right">  {{ edit_user.user_type.label_tag }} </div>-->
<!--            <div style="text-align: right">  {{ edit_user.user_type }} </div>-->
<!--            {{ edit_user.user_type.errors }}-->
<!--    </div>-->

    <div class="col-md-6 form-group">
            <div style="text-align: right"> {{ edit_profile.gender.label_tag }} </div>
            {{ edit_profile.gender }}
            {{ edit_profile.gender.errors }}
    </div>
    <div class="col-md-6 form-group">
         {{ edit_profile.national_code.errors }}
        <div style="text-align: right"> {{ edit_profile.national_code.label_tag }} </div>
        {{ edit_profile.national_code }}

    </div>

    <div class="col-md-6 form-group">
        <div style="text-align: right">  {{ edit_user.last_name.label_tag }} </div>
        {{ edit_user.last_name }}
        {{ edit_user.last_name.errors }}
    </div>

    <div class="col-md-6 form-group">
     <div style="text-align: right">  {{ edit_user.first_name.label_tag }} </div>
        {{ edit_user.first_name }}
        {{ edit_user.first_name.errors }}
    </div>


<!--    <div class="col-md-6 form-group">-->
<!--     <div style="text-align: right"> {{ edit_user.username.label_tag }}</div>-->
<!--          {{ edit_user.username }}-->
<!--        {{ edit_user.username.errors }}-->
<!--    </div>-->



    <div class="col-md-6 form-group">
         {{ edit_profile.city.errors }}
        <div style="text-align: right"> {{ edit_profile.city.label_tag }} </div>
        {{ edit_profile.city }}
    </div>

     <div class="col-md-6 form-group">
          {{ edit_profile.province.errors }}
        <div style="text-align: right"> {{ edit_profile.province.label_tag }} </div>
        {{ edit_profile.province }}

    </div>



    <div class="col-md-6 form-group">
        {{ edit_profile.nationality.errors }}
         <div style="text-align: right"> {{ edit_profile.nationality.label_tag }} </div>
        {{ edit_profile.nationality }}

    </div>

    <div class="col-md-6 form-group">
        {{ edit_profile.birth_date.errors }}
        <div style="text-align: right"> {{ edit_profile.birth_date.label_tag }} </div>
        {{ edit_profile.birth_date }}

    </div>




