
    <div class="col-md-6 form-group;">
        <div class="box-saka" style="background-color: whitesmoke; width: 410px;  height:90px;">
            <div style="text-align: right">  {{ edit_user.user_type.label_tag }} </div>
            <div style="text-align: right">  {{ edit_user.user_type }} </div>
            {{ edit_user.user_type.errors }}
        </div>
    </div>
    <div class="col-md-6 form-group">
        <div class="box-saka" style="background-color: whitesmoke; width: 410px;  height:90px;">
            <div style="text-align: right"> {{ edit_profile.gender.label_tag }} </div>
            {{ edit_profile.gender }}
            {{ edit_profile.gender.errors }}
        </div>
    </div>

    <div class="col-md-6 form-group">
        <div style="text-align: right">  {{ edit_user.last_name.label_tag }} </div>
        {{ edit_user.last_name }}
        {{ edit_user.last_name.errors }}
    </div>

    <div class="col-md-6 form-group">
     <div style="text-align: right">  {{ edit_user.first_name.label_tag }} </div>
        {{ edit_user.first_name }}
        {{ edit_user.first_name.errors }}
    </div>

<!--    <div class="col-md-6 form-group">-->
<!--     <div style="text-align: right"> {{ edit_user.email.label_tag }}</div>-->
<!--          {{ edit_user.email }}-->
<!--        {{ edit_user.email.errors }}-->
<!--    </div>-->

    <div class="col-md-6 form-group">
     <div style="text-align: right"> {{ edit_user.username.label_tag }}</div>
          {{ edit_user.username }}
        {{ edit_user.username.errors }}
    </div>

    <div class="col-md-6 form-group">
        <div style="text-align: right"> {{ edit_profile.national_code.label_tag }} </div>
        {{ edit_profile.national_code }}
        {{ edit_profile.national_code.errors }}
    </div>

    <div class="col-md-6 form-group">
        <div class="box-saka" style="background-color: whitesmoke; width: 410px;  height:90px;">
        <div style="text-align: right"> {{ edit_profile.province.label_tag }} </div>
        {{ edit_profile.province }}
        {{ edit_profile.province.errors }}
        </div>
    </div>

    <div class="col-md-6 form-group">
        <div class="box-saka" style="background-color: whitesmoke; width: 410px;  height:90px;">
        <div style="text-align: right"> {{ edit_profile.city.label_tag }} </div>
        {{ edit_profile.city }}
        {{ edit_profile.city.errors }}
        </div>
    </div>



