
    <div class="col-md-6 form-group">
        <div style="text-align: right">  {{ application_form.preferred_style.label_tag }} </div>
        {{ application_form.preferred_style }}
        {{ application_form.preferred_style.errors }}
    </div>

    <div class="col-md-6 form-group">
     <div style="text-align: right">  {{ application_form.demandend_time.label_tag }} </div>
        {{ application_form.demandend_time }}
        {{ application_form.demandend_time.errors }}
    </div>

<!--    <div class="col-md-6 form-group">-->
<!--     <div style="text-align: right"> {{ edit_user.email.label_tag }}</div>-->
<!--          {{ edit_user.email }}-->
<!--        {{ edit_user.email.errors }}-->
<!--    </div>-->

    <div class="col-md-6 form-group">
     <div style="text-align: right"> {{ application_form.demandend_venue.label_tag }}</div>
          {{ application_form.demandend_venue }}
        {{ application_form.demandend_venue.errors }}
    </div>

    <div class="col-md-6 form-group">
<!--     <div style="text-align: right"> {{ application_form.num_of_student.label_tag }}</div>-->
<!--          {{ application_form.num_of_student }}-->
<!--        {{ application_form.num_of_student.errors }}-->
<!--    </div>-->

     <div class="col-md-6 form-group">
        <div style="text-align: right"> {{ application_form.short_description.label_tag }} </div>
        {{ application_form.short_description }}
        {{ application_form.short_description.errors }}
    </div>


