<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
            {% if course.image %}
            <figure>
               <a href="{{ application.get_absolute_url }}">
                   <img src="{{course.image.url}}" alt="Image" class="img-responsive"></a>
            </figure>
            {% else %}
            <figure>
               <a href="{{ application.get_absolute_url }}">
                   <img src="static/images/volunteer.png" alt="Image" class="img-responsive"></a>
            </figure>
                {% endif %}
            {% if course.code %}
            <span class="fh5co-meta"><a href="" style="color:black">{{course.code}}</a></span>
            {% endif %}
            <h3 class="fh5co-article-title"><a href="" style="color:red">{{course.course_name}}</a></h3>
    <h5 class="fh5co-article-title"><a href="" style="color:green"><b>{{course.grade}}</b></a></h5>
            {% if course.major %}
            <h4 class="fh5co-article-title"><a href="" style="color:gray">({{course.major}})</a></h4>
            {% endif %}
    <a href="{% url 'complete_application_page'  %}" onclick="addCourseToApplication({{ course.id }})" class="btn btn-fefault cart">
											انتخاب
    </a>

</article>