<img src="/static/images/volunteer5.jpg">
<p><div class="box-saka" style="background-color: lightgoldenrodyellow; width: 330px;">
    <div style="text-align: center;">
        {% if current_user.first_name %}
         <div style="color: green"><b>{{current_user.first_name}}  {{current_user.last_name}}( {{current_user.user_type}} )</b></div>
        {% else %}
        <div style="color: green"><b>{{current_user.username}}({{current_user.user_type}})</b></div>
        {% endif %}
        <div style="color: red"><b>({{current_user.mobile}})</b></div>
        <div style="color: green">{{current_user.email}}</div>
    </div>
</div></p>

<p>	<div class="panel-group category-products" id="accordian" ></p><!--left panel item-->
<div style="text-align: center; width: 330px">
    <div class="panel panel-default">
        <div class="panel-heading" style="color: green; background-color: lightgoldenrodyellow"  >
            <p class="panel-title"><a href="{% url 'user_profile_page' %}" class="active" ><b> پروفایل عمومی </b></a></p>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" style="color: green; background-color: lightgoldenrodyellow">
            <p class="panel-title"><a href="#"><b>تغییر رمز عبور</b></a></p>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" style="color: green; background-color: lightgoldenrodyellow">
            {% if current_user.user_type_id == 2 %}
            <p class="panel-title"><a href="{% url 'volunteer_class_list_page' %}" class="active" ><b> لیست کلاس های من </b></a></p>
            {% elif current_user.user_type_id == 3 or current_user.user_type_id == 4 %}
            <p class="panel-title"><a href="{% url 'user_application_list_page' %}" class="active" ><b> لیست درخواست های من </b></a></p>
            {% endif %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" style="color: green; background-color: lightgoldenrodyellow">
            {% if current_user.user_type_id == 2 %}
            <p class="panel-title"><a href="{% url 'application_list' %}"><b> داوطلب کلاس جدید </b></a></p>
             {% elif current_user.user_type_id == 3 or current_user.user_type_id == 4 %}
            <p class="panel-title"><a href="{% url 'complete_application_page'  %}"><b>تکمیل یا ثبت درخواست جدید </b></a></p>
            {% endif %}
        </div>
    </div>
</div>