<div id="fh5co-offcanvas">
		<a href="#" class="fh5co-close-offcanvas js-fh5co-close-offcanvas"><span><i class="icon-cross3"></i> <span>Close</span></span></a>
		<div class="fh5co-bio">
			<figure>
				<img src="/static/images/volunteer.png" alt="Free HTML5 Bootstrap Template" class="img-responsive">
			</figure>
			<h3 class="heading">Volunteer Hub</h3>
			<h2>Kurek Ashley</h2>
			<p>The quality of your life will be determined by the quality of your contribution. When you work to improve the lives of others, your life improves automatically. </p>
			<ul class="fh5co-social">
				<li><a href="#"><i class="icon-twitter"></i></a></li>
				<li><a href="#"><i class="icon-facebook"></i></a></li>
				<li><a href="#"><i class="icon-instagram"></i></a></li>
			</ul>
		</div>

		<div class="fh5co-menu">
			<div class="fh5co-box">
				<h3 class="heading">Categories</h3>
				<ul>
					<li><a href="{% url 'courses_list' %}"> Courses  </a></li>
					<li><a href="#"> Skills </a></li>
					<li><a href="#"> Venus </a></li>
					<li><a href="{% url 'contact_us_page' %}"> Contact Us </a></li>
					<li><a href="#"> Dashboard </a></li>
				</ul>
			</div>
			<div class="fh5co-box">
				<h3 class="heading">Search</h3>
				<form action="#">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Type a keyword">
					</div>
				</form>
			</div>
		</div>
	</div>