{% extends 'shared/_layout.html' %}
{% load render_partial %}

{% block content %}
<div class="container" xmlns="http://www.w3.org/1999/html">
	<div class="row">
		<div class="col-sm-9">
					<div class="container-fluid">
    					<div class="row fh5co-post-entry">
							<form>
							<table class="table table-condensed">
                    <tbody>
                        <tr>
                            <td>
							<p></p>
								<a href="{% url 'courses_list' %}" style="color: red"> حذف </a>
								<a href="{% url 'courses_list' %}" style="color: green"> اضافه </a>
                            </td>
							 <td class="cart_price">
								 </br>
								  </br>
                                <p style="text-align: center; color:green">{{ application.demanded_course }}</p>
                            </td>
							<td class="cart_product">
                                <a href=""><img src="{{ application.demanded_course.image.url }}" width="70" alt=""></a>
							</td>
							<td>
                                </br>
								<label style="color: green"> درس انتخابی  </label>
							</td>
						</tr>
						<tr>
						 <td>
							 <p></p>
								<a href="{% url 'courses_list'  %}" style="color: red"> حذف </a>
								<a href="{% url 'courses_list'  %}" style="color: green"> اضافه </a>
						 </td>
							 <td>
								   <br>
									{{application_form.free_time_1}}
								   </br>
                            </td>
							<td>
								   <br>
								 	{{application_form.free_day_1}}
								   </br>
                            </td>
							<td> </br>
								<label style="color: green"> زمان های آزاد شما  </label>
							</td>
						</tr>
					 <tr>
						 <td>
							 </br>

						 </td>
							 <td>
								   <br>
									{% for choice in application_form.preferred_style %}
									{{ choice }}
								 	{{ choice.errors }}
									{% endfor %}
								   </br>

                            </td>
							<td> </br>
								<label style="color: green">  </label>
							</td>
						 <td> </br>
								<label style="color: green"> شیوه برگزاری </label>
							</td>

						</tr>
					  <tr>
                            <td>
							<p></p>
								<a href="" style="color: red"> حذف </a>
								<a href="" style="color: green"> اضافه </a>
                            </td>
							 <td class="cart_price">
								 </br>
								  </br>
                                <p style="text-align: center; color:green">{{ application.venue }}</p>
                            </td>
							<td>
							</td>
							<td>
                                </br>
								<label style="color: green"> مدرسه خودم  </label>
							</td>
						</tr>

                    </tbody>
		 					</table>
								<div class="form-group col-md-12">
                                <button type="submit" class="btn btn-primary pull-right">ارسال</button>
                            	</div>
							</form>

    					</div><!--features_items-->
					</div>
		</div>

		<div class="col-sm-3">
			<div class="left-sidebar">
				{% render_partial 'profile_panel.views.user_panel_left_sidebar' %}
			</div><!--/left panel item-->
		</div>
	</div>
</div>
</div>
{% endblock %}