{% extends 'shared/_layout.html' %}
{% load render_partial %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm-9">
			<div class="container-fluid">
				<div class="row fh5co-post-entry">
				<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu", style="background-color: lightgoldenrodyellow">
							<td></td>
							<td style="text-align: center; color: green; font-size: larger">وضعیت</td>
							<td></td>
							<td style="color: green; font-size: larger">درس</td>

						</tr>
					</thead>
					<tbody>
					{% for application in applications %}
						<tr>
							<td>

								{% if application.acceptedapplication.is_finished == True  %}
								<a href=""> جزییات </a>
								{% elif application.is_active == False and application.is_accepted == False  %}
<!--								<a href="" style="color: red" onclick="removeCourse({{application.demanded_course.id}})"> حذف </a>-->
								<a href="{% url 'complete_application_page' %}"> تکمیل / </a>
								<a href="" onclick="removeInactiveApplication({{application.id}})"> حذف </a>
								{% elif application.is_active == True and application.is_accepted == False  %}
								<a href="{% url 'edit_active_application' application_id=application.id %}"> ویرایش / </a>
								<a href="" onclick="removeActiveApplication({{application.id}})"> حذف </a>
								{% elif application.is_active == True and application.acceptedapplication.is_active == True %}
								<a href=""> پنل کلاس </a>
								{% elif application.is_active == True and application.is_accepted == True and application.acceptedapplication.is_active == False  %}
								<a href="" onclick="removeAppFromVolunteer({{application.id}})"> حذف از لیست داولطب </a>
								{% endif %}
							</td>
							<td>
								{% if application.acceptedapplication.is_finished == True %}
								<p>  غیر فعال / پذیرفته شده (به اتمام رسیده) </p>
								{% elif application.is_active == True and application.acceptedapplication.is_active == True %}
								<p>  فعال / پذیرفته شده (در حال اجرا) </p>
								{% elif application.is_active == False and application.is_accepted == False  %}
								<p>  غیر فعال / پذیرفته نشده (تکمیل نشده) </p>
								{% elif application.is_active == True and application.is_accepted == False  %}
								<p>  فعال / پذیرفته نشده (در صف انتظار) </p>
								{% elif application.is_active == True and application.is_accepted == True and application.acceptedapplication.is_active == False  %}
								<p>   فعال / پذیرفته شده (در انتظار تایید داوطلب) </p>
								{% endif %}
							</td>

							<td>
								<p>{{application.demanded_course}} </p>
							</td>
                            <td>
								{% if application.demanded_course.image %}
            					<figure>
               					<a href="{{ application.get_absolute_url }}">
                   				<img src="{{application.demanded_course.image.url}}" width="70" alt="Image" class="img-responsive"></a>
            					</figure>
            					{% else %}
            					<figure>
               					<a href="{{ application.get_absolute_url }}">
                   				<img src="static/images/volunteer.png" alt="Image" class="img-responsive"></a>
            					</figure>
                				{% endif %}
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>

				</div><!--features_items-->
			</div>
		</div>
		<div class="col-sm-3">
			<div class="left-sidebar">
				{% render_partial 'profile_panel.views.user_panel_left_sidebar' %}
			</div><!--/left panel item-->
		</div>
	</div>
</div>
{% endblock %}