<h3 style="color:green"> دسته بندی بر اساس پایه تحصیلی</h3>
<div class="panel-group category-products" id="accordian"><!--category-productsr-->
    {% for edu_level in course_edu_level %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordian" href="#{{ edu_level.url_title }}">
                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                            {{ edu_level.edu_level }}
                        </a>

                </h4>
            </div>
                <div id="{{ edu_level.url_title }}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            {% for item in edu_level.grade_set.all %}
                                <li><a href="{% url 'courses_by_category_list' category=item.url_title %}"> {{ item.grade_name }} </a></li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
        </div>
    {% endfor %}

</div>








