<h3 style="color:green">دسته بندی بر اساس رشته </h3>
<div class="panel-group category-products" id="accordian"><!--category-productsr-->


    {% for major in course_major %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordian" href="#{{ major.url_title }}">
                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                            {{ major.major }}
                        </a>

                </h4>
            </div>
                <div id="{{ major.url_title }}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            {% for grade in course_grade %}
                                <li><a href="{% url 'courses_by_category_major' category=grade.url_title major=major.url_title %}"> {{ grade.grade_name }} </a></li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
        </div>
    {% endfor %}

</div>